img {
  width: 75px;
  height: 75px;
  display: inline-block;
}
.TOP-GAMES {
  margin-top: -55px;
  margin-left: 90px;
  font-style: oblique;
  color: green;
}
.top-10 {
  margin-top: -45px;
  margin-left: 300px;
  cursor: pointer;
}
.favorites {
  margin-top: -40px;
  margin-left: 500px;
  position: absolute;
  cursor: pointer;
}
i {
  margin-left: 1640px;
  margin-top: -50px;
  position: absolute;
  color: green;
  cursor: pointer;
}
.Sign-up {
  margin-left: 1800px;
  margin-top: -60px;
  border: 3px solid cyan;
  background-color: #ffeffe;
  border-radius: 25px;
  position: absolute;
  padding: 15px;
  cursor: pointer;
  transition: 1s;
}

.Log-in {
  margin-left: 1700px;
  margin-top: -60px;
  border: 3px solid cyan;
  border-radius: 25px;
  position: absolute;
  padding: 15px;
  background-color: #ffeffe;
  cursor: pointer;
  transition: 1s;
}
span {
  color: lightgray;
}
.fa-bars {
  display: none;
  color: black;
  margin-left: 1850px;
  border: 1px solid darkblue;
  border-radius: 25px;
  position: absolute;
  background-color: darkblue;
  padding: 10px;
  color: white;
}
@media (max-width: 900px) {
  .fa-bars {
    display: inline-block;
  }
  .Sign-up,
  .Log-in,
  .top-10,
  .favorites,
  .fa-globe,
  .fa-caret-down {
    display: none;
  }
}

.logo2 {
  display: flex;
  justify-content: center;
  margin-left: 700px;
  margin-top: 300px;
  width: 500px;
  height: 500px;
  display: inline-block;
  position: absolute;
}
.background {
  margin-top: 300px;
  position: absolute;
  width: 1910px;
  height: 500px;
}

.category {
  border: 2px solid blue;
  margin-top: 850px;
  flex-direction: row;
  position: absolute;
  margin-left: 720px;
  border-radius: 25px;
  padding: 20px;
}
span {
  color: black;
  padding: 20px;
  border: 1px solid lightblue;
  position: relative;
  border-radius: 25px;
  background-color: lightblue;
  cursor: pointer;
  transition: 1s;
}
.more {
  background-color: lightblue;
}
.category2 {
  margin-top: 1100px;
  margin-left: 780px;
  font-size: 20px;
  border-bottom: 1px solid darkgreen;
  width: 25%;
}
.action,
.horror,
.fighter,
.shooter {
  background-color: #ffeffe;
  border: 0px;
  cursor: pointer;
  transition: 1s;
}
.other {
  position: absolute;
  background-color: #ffeffe;
  border: 0px;
  margin-left: 10px;
  margin-top: -20px;
  cursor: pointer;
  transition: 1s;
}
.popular {
  border: 1px solid black;
  box-shadow: 10px 10px;
  border-radius: 25px;
  padding: 100px;
  position: absolute;
  margin-top: 50px;
  margin-left: 170px;
  cursor: pointer;
  background-color: rgb(223, 247, 255);
}
h1 {
  margin-top: -80px;
  margin-left: -70px;
  position: absolute;
}
.counter {
  width: 300px;
  height: 300px;
  margin-left: 50px;
  display: block;
  position: absolute;
  transition: 0.5s;
}
.minecraft {
  width: 300px;
  height: 300px;
  margin-left: 1000px;
  transition: 0.5s;
}
.fortnite {
  width: 300px;
  height: 300px;
  margin-top: 5px;
  margin-left: -790px;
  position: absolute;
  transition: 0.5s;
}

.CS2 {
  margin-top: 310px;
  position: absolute;
  margin-left: 50px;
}
.fort {
  margin-left: 530px;
  position: absolute;
}
.mine {
  margin-left: 1000px;
  margin-top: 10px;
  position: absolute;
}
.CS2_download {
  position: absolute;
  margin-top: 340px;
  margin-left: 60px;
  text-decoration: none;
}
a {
  position: absolute;
  text-decoration: none;
  color: purple;
}
.minecraft_download {
  margin-left: 1000px;
  position: absolute;
  margin-top: 30px;
  text-decoration: none;
}
.fortnite_download {
  position: absolute;
  margin-left: 530px;
  margin-top: 40px;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

.latest {
  margin-top: 650px;
  border: 1px solid black;
  box-shadow: 10px 10px;
  border-radius: 25px;
  padding: 100px;
  position: absolute;
  margin-left: 170px;
  cursor: pointer;
  background-color: rgb(223, 247, 255);
}
.marvelspiderman2{
  width: 300px;
  height: 300px;
  margin-left: 50px;
  display: block;
  position: absolute;
  transition: 0.5s;
}
.nba2k24 {
  width: 300px;
  height: 300px;
  margin-top: 5px;
  margin-left: 520px;
  position: absolute;
  transition: 0.5s;
}
.THELEGENDOFZELDA_TEARSOFTHEKINGDOM {
  width: 300px;
  height: 300px;
  margin-left: 1000px;
  transition: 0.5s;
}
.spider {
  margin-top: 310px;
  margin-left: 50px;
  position: absolute;
}
.nba {
  margin-top: 310px;
  margin-left: 520px;
  position: absolute;
}
.zelda {
  margin-top: -2px;
  margin-left: 1000px;
  position: absolute;
}
.spider_download {
  margin-top: 330px;
  margin-left: 50px;
  position: absolute;
}
.nba_download {
  margin-top: 330px;
  margin-left: 520px;
  position: absolute;
}
.zelda_download {
  margin-left: 1000px;
  margin-top: 20px;
  position: absolute;
}

.Log-in:hover {
  background-color: cyan;
}

.Sign-up:hover {
  background-color: cyan;
}

span:hover {
  background-color: blue;
  color: white;
}
.spider_download:hover {
  text-decoration: solid;
}
.counter:hover {
  opacity: 0.5;
}
.fortnite:hover {
  opacity: 0.5;
}
.minecraft:hover {
  opacity: 0.5;
}
.marvelspiderman2:hover {
  opacity: 0.5;
}
.nba2k24:hover {
  opacity: 0.5;
}
.THELEGENDOFZELDA_TEARSOFTHEKINGDOM:hover {
  opacity: 0.5;
}
body{
  background-color: #ffeffe;
}