.container {
    border: 1px solid black;
    padding: 70px;
    width: 500px;
    right: 10px;
    margin-left: 600px;
    margin-top: 300px;
}
h1{
    margin-top: -60px;
    margin-left: 180px;
    position: absolute;
}
.username {
    margin: 10px;
    margin-left: 150px;
}
.email {
    margin: 10px;
    margin-left: 150px;
}
.password {
    margin: 10px;
    margin-left: 150px;
}
.repeat_password {
    margin: 10px;
    margin-left: 150px;
}
.phone_number {
    margin: 10px;
    margin-left: 150px;
}
.Sign-up {
  margin-left: 280px;
  border: 3px solid cyan;
  background-color: #ffeffe;
  border-radius: 25px;
  position: absolute;
  padding: 15px;
  cursor: pointer;
  margin-top: 10px;
  transition: 1s;
}
.Log-in {
  margin-left: 180px;
  border: 3px solid cyan;
  border-radius: 25px;
  position: absolute;
  padding: 15px;
  background-color: #ffeffe;
  cursor: pointer;
  margin-top: 10px;
  transition: 1s;
}
body{
    background-color: #ffeffe;
}

.Sign-up:hover{
    background-color: aqua;
}
.Log-in:hover{
    background-color: aqua;
}
img {
    width: 75px;
    height: 75px;
    display: inline-block;
    cursor: pointer;
  }
  .TOP-GAMES {
    margin-top: -55px;
    margin-left: 90px;
    font-style: oblique;
    color: green;
  }